 
 
DirectorySlash Off

RewriteEngine On
 
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
 
 
 
 
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC] 
RewriteCond %{REQUEST_URI} !^/(google_callback|github_callback|admin-create|seed)\.php$ [NC]
RewriteCond %{REQUEST_URI} !^/ajax/ [NC]
RewriteCond %{REQUEST_URI} !^/admin/util/ [NC]
RewriteCond %{REQUEST_URI} !^/config/ [NC]
RewriteRule ^ /%1 [R=301,L]
 
 
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/ajax/ [NC]
RewriteCond %{REQUEST_URI} !^/admin/util/ [NC]
RewriteCond %{REQUEST_URI} !^/config/ [NC]
RewriteRule ^(.*)$ router.php [L]